# Archivos auxilares de drawio
*.drawio

# Archivos auxiliares de LaTeX en Documentacion
Documentacion/*.aux
Documentacion/*.fdb_latexmk
Documentacion/*.fls
Documentacion/*.log
Documentacion/*.out
Documentacion/*.synctex.gz
Documentacion/*.toc
Documentacion/*.lof
Documentacion/*.lot
Documentacion/*.bbl
Documentacion/*.blg

# Archivos de Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
.venv/
pip-log.txt
pip-delete-this-directory.txt
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.log
.git
.mypy_cache
.pytest_cache
.hypothesis

# Archivos del sistema operativo
.DS_Store
Thumbs.db

# Archivos sin progreso
Front_End/pages/4_Dashboards.py

# Secrets
.streamlit/secrets.toml